<div class="container">
    <h1>¿HAS OLVIDADO TU CONTRASEÑA?</h1>
    <h6>Ingrese el correo con el que se haya registrado. Le enviaremos un mail para cambiar su contraseña.</h6>

    <form action="/session/sendrecoverymail" method="post" id="forgottenPassForm">
        <label for="">Email: </label>
        <input class="form-control" type="email" name="email">
        <br>
        <input class="btn btn-outline-primary" type="submit" value="Enviar">
    </form>

</div>

{{!-- <script>
    const formMail = document.getElementById('forgottenPassForm')
    formMail.addEventListener('submit', (e) =>{
        e.preventDefault()
    })
</script> --}}