<div class="container">
    <h1>REESTABLECER CONTRASEÑA</h1>

    <form action="/session/restorepassword" method="post" id="changePasswordForm">
        <label>Ingrese su nueva contraseña:</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Cambiar contraseña">
    </form>
</div>

<script>
    // obtenemos las query params para buscar el email
    const url = window.location.search
    const params = new URLSearchParams(url)

    const userEmail = params.get('email')

    const form = document.getElementById('changePasswordForm')
    form.setAttribute('action', `/session/restorepassword?email=${userEmail}`)

</script>